<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>TiltedComics</title>
  <meta name="description" content="Wireframe design of a product display by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe product">
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- {% load static %} -->
  <link rel="stylesheet" href="{% static 'site/wireframe.css' %}">
 </head>

<body>
{% if user.is_authenticated %}
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-between" id="navbar2SupportedContent">
        <a class="p-2 text-secondary" href="/">
          <i class="fa fa-lg d-block pt-1 fa-foursquare"></i>
        </a>
        <a class="p-2 text-secondary" href="/comiclist">Comics
          <br> </a>
        <a class="p-2 text-secondary">
          <br> </a>
        <a class="p-2 text-secondary">
          <br> </a>
        <a class="p-2 text-secondary"></a>
        <a class="p-2 text-secondary"></a>
        <a class="p-2 text-secondary"></a>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbarDarkSupportedContent">
          <ul class="navbar-nav"></ul>
          <form id="searchform" action="" method="get" accept-charset="utf-8">
            <button class="searchbutton" type="submit">
              <i class="fa fa-search"></i>
            </button>
            <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
          </form>
        </div>
        <a class="btn navbar-btn ml-2 text-white btn-secondary" href="/myprofile"><i class="fa d-inline fa-lg fa-user-circle-o ml-1"></i>&nbsp;</a>
        <a class="btn navbar-btn ml-2 text-white btn-secondary" href="/loggedout">Log Out&nbsp;</a>
        <a class="p-2 text-secondary"></a>
          <br> </a>
      </div>
    </div>
  </nav>
{% endif %}

{% if not user.is_authenticated %}
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-between" id="navbar3SupportedContent">
        <a class="p-2 text-secondary" href="/">
          <i class="fa fa-lg d-block pt-1 fa-foursquare"></i>
        </a>
        <a class="p-2 text-secondary" href="/comiclist">Comics
          <br> </a>
        <a class="p-2 text-secondary">
          <br> </a>
        <a class="p-2 text-secondary">
          <br> </a>
        <a class="p-2 text-secondary"></a>
        <a class="p-2 text-secondary"></a>
          <div class="collapse navbar-collapse text-center justify-content-end" id="navbarDarkSupportedContent">
            <ul class="navbar-nav"></ul>
            <form id="searchform" action="" method="get" accept-charset="utf-8">
              <button class="searchbutton" type="submit">
                <i class="fa fa-search"></i>
              </button>
              <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
            </form>
          </div>
        <a class="p-2 btn text-secondary" href="/register">Register</a>
        <a class="p-2 btn text-secondary" href="/login">Sign In&nbsp;</a>
          <br> </a>
      </div>
    </div>
  </nav>
{% endif %}


  {% block content %}
  <!-- insert code for other pages here in another html file -->
  {% endblock %}
  <footer>
      <div class="container py-5">
        <div class="row">
          <div class="col-12 col-md">
            <i class="fa fa-lg pt-1 d-block fa-foursquare"></i>
            <small class="d-block my-3 text-muted">© 2017-2018</small>
          </div>
          <div class="col-6 col-md">
            <h5>
              <b></b>
            </h5>
            <ul class="list-unstyled text-small">
              <li>

              </li>
              <li>

              </li>
              <li>

              </li>
              <li>

              </li>
              <li>

              </li>
              <li>

              </li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>
              <b></b>
            </h5>
            <ul class="list-unstyled text-small">
              <li>

              </li>
              <li>

              </li>
              <li>

              </li>
              <li>

              </li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>
              <b></b>
            </h5>
            <ul class="list-unstyled text-small">
              <li>

              </li>
              <li>

              </li>
              <li>

              </li>
              <li>

              </li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>
              <b>About Us</b>
            </h5>
            <ul class="list-unstyled text-small">
              <li>
                <a class="text-muted" href="/" target="_blank">Tilted Towers LLC</a>
              </li>
              <li>

              </li>
              <li>

              </li>
              <li>

              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
