<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Comic</title>
  <meta name="description" content="Wireframe design of a product display by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe product">
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'site/wireframe.css' %}">
 </head>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center justify-content-between" id="navbar2SupportedContent">
      <a class="p-2 text-secondary" href="http://tiltedcomics.me:8000">
        <i class="fa fa-lg d-block pt-1 fa-foursquare"></i>
      </a>
      <a class="p-2 text-secondary" href="#">Comics
        <br> </a>
      <a class="p-2 text-secondary" href="#">
        <br> </a>
      <a class="p-2 text-secondary" href="#">
        <br> </a>
      <a class="p-2 text-secondary" href="http://tiltedcomics.me:8000/register">Register</a>
      <a class="p-2 text-secondary" href="http://tiltedcomics.me:8000/login">Sign In
        <br> </a>
    </div>
  </div>
</nav>

<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <img class="card-img-top" src={{ MEDIA_URL }}{{ cover }} alt="Card image cap">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><h3>Title</h3><p>{{ title }}</p>
            <li class="list-group-item"><h3>Author</h3><p>{{ author }}</p>
            <li class="list-group-item"><h3>Publisher</h3><p>{{ publisher }}</p>
            </li>
            <li class="list-group-item"><h3>Genre</h3><p>{{ genre }}</p>
            <li class="list-group-item"><h3>Series</h3><p>{{ series }}</p>
            <li class="list-group-item"><h3>Volume</h3><p>{{ volume }}</p>
            </li>
            <li class="list-group-item"><h3>Issue</h3><p>{{ issue }}</p></li>
            <li class="list-group-item"><h3>Ratings</h3><p>{{ rating }}</p></li>
            <li class="list-group-item"><h3>Synopsis</h3><p>{{ synopsis }}</p></li>
            <li class="list-group-item"><h3>Plot</h3><p>{{ plot }}</p>
              <br>
            </li>
          </ul>
          <div>
            {% if comments %}
            <ul>
              {% for comment in comments %}
              <li>{{ comment.userid }}</li>
              <li>{{ comment.date }}</li>
              <li>{{ comment.text }}</li>
             {% endfor %}
            </ul>
            {% else %}
              <strong> There are no comments yet. </strong>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
</html>
