{% extends "base.html" %}

{% block content %}
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <img class="card-img-top" src={{ MEDIA_URL }}{{ cover }} alt="Card image cap">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><h3>Title</h3><p>{{ title }}</p>
            <li class="list-group-item"><h3>Author</h3><p>{{ author }}</p>
            <li class="list-group-item"><h3>Publisher</h3><p>{{ publisher }}</p>
            </li>
            <li class="list-group-item"><h3>Genre</h3><p>{{ genre }}</p>
            <li class="list-group-item"><h3>Series</h3><p>{{ series }}</p>
            <li class="list-group-item"><h3>Volume</h3><p>{{ volume }}</p>
            </li>
            <li class="list-group-item"><h3>Issue</h3><p>{{ issue }}</p></li>
            <li class="list-group-item"><h3>Ratings</h3><p>{{ rating }}</p></li>
            <li class="list-group-item"><h3>Synopsis</h3><p>{{ synopsis }}</p></li>
            <li class="list-group-item"><h3>Plot</h3><button onclick= "showContent()">Spoiler</button>
		<div id="plot" >{{ plot }}</div>
            <script>
		var content = document.getElementById("plot");
		
		content.style.display = "none";

		function showContent(){
			if (content.style.display === "none"){
				content.style.display = "block";
			}
			else {
				content.style.display = "none";
			}
		} 
            </script>
            <li class="list-group-item"><h3>Rating</h3><p>{{ rating }}/5</p>
              <br>
            </li>
          </ul>
          <div>
            {% if comments %}
              {% for comment_dict in comments %}
              <strong>{{ comment_dict.user }}</strong> on {{ comment_dict.date }} commented:<br>
              {{ comment_dict.comment_text }}<br><br>
            {% endfor %}
            {% else %}
              <strong> There are no comments yet. </strong>
            {% endif %}
          </div>
          <div>
            <form id="comment_form" method="post" action="/comic">
                {% csrf_token %}
                {% for field in commentform.visible_fields %}
                  {{ field.errors }}
                  {{ field.help_text }}
                  {{ field }}
                {% endfor %}
                <input type="submit" name="submit" value="Create Category" />
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
