{% extends "base.html" %}

{% block content %}
  <div class="text-center">
    <div class="container-fluid">
      <div class="row px-2">
        <div class="col mx-2 bg-dark pt-5 px-5 mb-3">
          <h2 class="mt-3">
            <a href="http://tiltedcomics.me:8000/comic/{{ comic.0.comicid }}"><b>{{ comic.0.comictitle }}</b> </a>
          </h2>
          <p class="lead mb-5">Volume - {{comic.0.comicvolume}}<br>Issue - {{comic.0.comicissue}}
          </p>
          <img class="img-fluid d-block" src="{{ MEDIA_URL }}{{ comic.0.comiccover}}" width=""> </div>
        <div class="col mx-2 pt-5 px-5 bg-primary mb-3">
          <h2 class="mt-3">
           <a href="http://tiltedcomics.me:8000/comic/{{ comic.1.comicid }}"><b>{{ comic.1.comictitle }}</b></a>
          </h2>
          <p class="lead mb-5">Volume - {{comic.1.comicvolume}}<br>Issue - {{comic.1.comicissue}}
          </p>
          <img class="img-fluid d-block" src="{{ MEDIA_URL }}{{ comic.1.comiccover }}" width=""> </div>
      </div>
      <div class="row px-2">
        <div class="col mx-2 pt-5 px-5 mb-3 bg-dark">
          <h2 class="mt-3">
           <a href="http://tiltedcomics.me:8000/comic/{{ comic.2.comicid }}"><b>{{ comic.2.comictitle }}</b></a>
          </h2>
          <p class="lead mb-5">Volume - {{comic.2.comicvolume}}<br>Issue - {{comic.2.comicissue}}
          </p>
          <img class="img-fluid d-block" src="{{ MEDIA_URL }}{{ comic.2.comiccover }}" width=""> </div>
        <div class="col mx-2 pt-5 px-5 mb-3 bg-dark">
          <h2 class="mt-3">
           <a href="http://tiltedcomics.me:8000/comic/{{ comic.3.comicid }}"><b>{{ comic.3.comictitle }}</b></a>
          </h2>
          <p class="lead mb-5">Volume - {{comic.3.comicvolume}}<br>Issue - {{comic.3.comicissue}}
          </p>
          <img class="img-fluid d-block" src="{{ MEDIA_URL }}{{ comic.3.comiccover }}" width=""> </div>
      </div>
      <div class="row px-2">
        <div class="col mx-2 pt-5 px-5 mb-3 bg-dark">
          <h2 class="mt-3">
           <a href="http://tiltedcomics.me:8000/comic/{{ comic.4.comicid }}"><b>{{ comic.4.comictitle }}</b></a>
          </h2>
          <p class="lead mb-5">Volume - {{comic.4.comicvolume}}<br>Issue - {{comic.4.comicissue}}
          </p>
          <img class="img-fluid d-block" src="{{ MEDIA_URL }}{{ comic.4.comiccover }}" width=""> </div>
        <div class="col mx-2 pt-5 px-5 mb-3 bg-dark">
          <h2 class="mt-3">
            <a href="http://tiltedcomics.me:8000/comic/{{ comic.5.comicid }}"><b>{{ comic.5.comictitle }}</b></a>
          </h2>
          <p class="lead mb-5">Volume - {{comic.5.comicvolume}}<br>Issue - {{comic.5.comicissue}}
          </p>
          <img class="img-fluid d-block" src="{{ MEDIA_URL }}{{ comic.5.comiccover }}" width=""> </div>
      </div>
      <div class="row px-2">
        <div class="col mx-2 pt-5 px-5 mb-3 bg-dark">
          <h2 class="mt-3">
            <a href="http://tiltedcomics.me:8000/comic/{{ comic.6.comicid }}"><b>{{ comic.6.comictitle }}</b></a>
          </h2>
          <p class="lead mb-5">Volume - {{comic.6.comicvolume}}<br>Issue - {{comic.6.comicissue}}
          </p>
          <img class="img-fluid d-block" src="{{ MEDIA_URL }}{{ comic.6.comiccover }}" width=""> </div>
        <div class="col mx-2 pt-5 px-5 mb-3 bg-dark">
          <h2 class="mt-3">
            <a href="http://tiltedcomics.me:8000/comic/{{ comic.7.comicid }}"><b>{{ comic.7.comictitle }}</b></a>
          </h2>
          <p class="lead mb-5">Volume - {{comic.7.comicvolume}}<br>Issue - {{comic.7.comicissue}}
          </p>
          <img class="img-fluid d-block" src="{{ MEDIA_URL }}{{ comic.7.comiccover }}" width=""> </div>
      </div>
    </div>
  </div>
{% endblock %}
