{% extends "base.html" %}

{% block content %}
  <div class="text-center">
    <div class="container-fluid">
      <div class="row px-2">
        <div class="col mx-2 bg-dark pt-5 px-5 mb-3">
          <h3 class="mt-3">
            <a href="comic/{{ comic.0.comicid }}" style="color:#2E9AFE"><b>{{ comic.0.comictitle }}</b> </a>
          </h3>
          <p class="lead mb-5 text-secondary">Volume - {{comic.0.comicvolume}} Issue - {{comic.0.comicissue}}
          </p>
          <img class="img-fluid d-block" src="{{ MEDIA_URL }}{{ comic.0.comiccover}}" width="450" height=="400" > </div>
        <div class="col mx-2 pt-5 px-5 bg-dark mb-3">


          <!-- News Feed -->
          <div class="text-center">
            <div class="container-fluid">
            <h1>News Feed</h1>
            <div class="card">

            <div class="py-5" >
            <div class="container">
              <div class="row">
                <div class="col-md-1"></div>
                </div>
              </div>
            </div>
          </div>

            {% if post_list %}
            <ul class="list-group">

            {% for post in post_list %}
                <a href = "post/{{ post.postid }}" class="list-group-item list-group-item-action" >{{ post.title }}  Posted - {{ post.date }}</a>
            {% endfor %}

            </ul>
            {% else %}
            <p>No posts returned from database.</p>
            {% endif %}
             </div>
            </div>
          </div>




        </div>
      </div>
      <div class="row px-2">
        <div class="col mx-2 pt-5 px-5 mb-3 bg-dark">
          <h3 class="mt-3">
           <a href="comic/{{ comic.2.comicid }}" style="color:#2E9AFE"><b>{{ comic.2.comictitle }}</b></a>
          </h3>
          <p class="lead mb-5 text-secondary">Volume - {{comic.2.comicvolume}} Issue - {{comic.2.comicissue}}
          </p>
          <img class="img-fluid d-block" src="{{ MEDIA_URL }}{{ comic.2.comiccover }}" width="450" height="400" > </div>
        <div class="col mx-2 pt-5 px-5 mb-3 bg-dark">
          <h3 class="mt-3">
           <a href="comic/{{ comic.3.comicid }}" style="color:#2E9AFE"><b>{{ comic.3.comictitle }}</b></a>
          </h3>
          <p class="lead mb-5 text-secondary">Volume - {{comic.3.comicvolume}} Issue - {{comic.3.comicissue}}
          </p>
          <img class="img-fluid d-block" src="{{ MEDIA_URL }}{{ comic.3.comiccover }}" width="450" height="400" > </div>
      </div>
      <div class="row px-2">
        <div class="col mx-2 pt-5 px-5 mb-3 bg-dark">
          <h3 class="mt-3">
           <a href="comic/{{ comic.4.comicid }}" style="color:#2E9AFE"><b>{{ comic.4.comictitle }}</b></a>
          </h3>
          <p class="lead mb-5 text-secondary">Volume - {{comic.4.comicvolume}} Issue - {{comic.4.comicissue}}
          </p>
          <img class="img-fluid d-block" src="{{ MEDIA_URL }}{{ comic.4.comiccover }}" width="450" height="400" > </div>
        <div class="col mx-2 pt-5 px-5 mb-3 bg-dark">
          <h3 class="mt-3">
            <a href="comic/{{ comic.5.comicid }}" style="color:#2E9AFE"><b>{{ comic.5.comictitle }}</b></a>
          </h3>
          <p class="lead mb-5 text-secondary">Volume - {{comic.5.comicvolume}} Issue - {{comic.5.comicissue}}
          </p>
          <img class="img-fluid d-block" src="{{ MEDIA_URL }}{{ comic.5.comiccover }}" width="450" height="400" > </div>
      </div>
      <div class="row px-2">
        <div class="col mx-2 pt-5 px-5 mb-3 bg-dark">
          <h3 class="mt-3">
            <a href="comic/{{ comic.6.comicid }}" style="color:#2E9AFE"><b>{{ comic.6.comictitle }}</b></a>
          </h3>
          <p class="lead mb-5 text-secondary">Volume - {{comic.6.comicvolume}} Issue - {{comic.6.comicissue}}
          </p>
          <img class="img-fluid d-block" src="{{ MEDIA_URL }}{{ comic.6.comiccover }}" width="450" height="400"> </div>
        <div class="col mx-2 pt-5 px-5 mb-3 bg-dark">
          <h3 class="mt-3">
            <a href="comic/{{ comic.7.comicid }}" style="color:#2E9AFE"><b>{{ comic.7.comictitle }}</b></a>
          </h3>
          <p class="lead mb-5 text-secondary">Volume - {{comic.7.comicvolume}} Issue - {{comic.7.comicissue}}
          </p>
          <img class="img-fluid d-block" src="{{ MEDIA_URL }}{{ comic.7.comiccover }}" width="450" height="400"> </div>
      </div>
    </div>
  </div>
{% endblock %}
