{% extends "base.html" %}

{% block content %}
<div class="py-5">
    <div class="container card">
      <div class="row">
        <div class="align-center">
          <form id ="login_form" method="post" style="opacity: 1;">
          <form class="align-center" id ="login_form" method="post" style="opacity: 1;">
            <h1 class="" >ᶘಠᴥಠᶅ Stay awhile and listen.</h1>
            {% csrf_token %}
            {% if form.non_field_errors %}
               <ul class='form-errors'>
                  {% for error in form.non_field_errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
               </ul>
             {% endif %}

            {% if form.errors %}
              <p>Wrong username/password.</p>
            {% endif %}

            <br>
            <input type="text" name="username" class="form-control" placeholder="username"/>
            <br>
            <input type="password" name="password" class="form-control" placeholder="password"/>
            <br>

            <button type="submit" class="btn btn-secondary">Login
              <br> </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
