<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Login</title>
  <meta name="description" content="Wireframe design of a product display by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe product">
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    {% load static %}
  <link rel="stylesheet" href="{% static 'site/wireframe.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-between" id="navbar2SupportedContent">
        <a class="p-2 text-secondary" href="#">
          <i class="fa fa-lg d-block pt-1 fa-foursquare"></i>
        </a>
        <a class="p-2 text-secondary" href="#">Comics
          <br> </a>
        <a class="p-2 text-secondary" href="#">News
          <br> </a>
        <a class="p-2 text-secondary" href="#">Community
          <br> </a>
        <a class="p-2 text-secondary" href="http://tiltedcomics.me:8000/register">Register</a>
        <a class="p-2 text-secondary" href="http://tiltedcomics.me:8000/login">Sign In&nbsp;</a>
          <br> </a>
          <br> </a>
      </div>
    </div>
  </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="" style="opacity: 1;">
            <div class="form-group text-dark">
              <label class="text-dark">Username</label>
              <input type="text" class="form-control" placeholder="Username"> </div>
            <div class="form-group text-dark">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Password"> </div>
            <button type="submit" class="btn btn-primary">Sign In
              <br> </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <i class="fa fa-lg pt-1 d-block fa-foursquare"></i>
          <small class="d-block my-3 text-muted">© 2017-2018</small>
        </div>
        <div class="col-6 col-md">
          <h5>
            <b>Features</b>
          </h5>
          <ul class="list-unstyled text-small">
            <li>
              <a class="text-muted" href="#">Cool stuff</a>
            </li>
            <li>
              <a class="text-muted" href="#">Random feature</a>
            </li>
            <li>
              <a class="text-muted" href="#">Team feature</a>
            </li>
            <li>
              <a class="text-muted" href="#">Stuff for developers</a>
            </li>
            <li>
              <a class="text-muted" href="#">Another one</a>
            </li>
            <li>
              <a class="text-muted" href="#">Last time</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>
            <b>Resources</b>
          </h5>
          <ul class="list-unstyled text-small">
            <li>
              <a class="text-muted" href="#">Resource</a>
            </li>
            <li>
              <a class="text-muted" href="#">Resource name</a>
            </li>
            <li>
              <a class="text-muted" href="#">Another resource</a>
            </li>
            <li>
              <a class="text-muted" href="#">Final resource</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>
            <b>Account</b>
          </h5>
          <ul class="list-unstyled text-small">
            <li>
              <a class="text-muted" href="#">Business</a>
            </li>
            <li>
              <a class="text-muted" href="#">Education</a>
            </li>
            <li>
              <a class="text-muted" href="#">Government</a>
            </li>
            <li>
              <a class="text-muted" href="#">Gaming</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>
            <b>About</b>
          </h5>
          <ul class="list-unstyled text-small">
            <li>
              <a class="text-muted" href="#">Team</a>
            </li>
            <li>
              <a class="text-muted" href="#">Locations</a>
            </li>
            <li>
              <a class="text-muted" href="#">Privacy</a>
            </li>
            <li>
              <a class="text-muted" href="#">Terms</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:250px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

</html>
