{% extends "base.html" %}

{% block content %}
  <div class="text-center">
    <div class="container-fluid">
	<h1>Post List</h1>
	<h4>Check all news here.</h4>
    <div class="card">

    {% if post_list %}

	{% for post in post_list %}
	    <a href = "post/{{ post.postid }}" class="list-group-item list-group-item-action" >{{ post.title }}  Posted - {{ post.date }}</a>
	{% endfor %}

    {% else %}
	<p>No posts returned from database.</p>
    {% endif %}

     </div>
    </div>
  </div>
{% endblock %}
