{% extends "base.html" %}

{% block content %}
  <div class="text-center">
    <div class="container-fluid col-md-2 offset-md-5 bg-dark text-secondary">
	<h1>Post List</h1>
    </div>

    {% if post_list %}

	{% for post in post_list %}
	    <a href = "post/{{ post.postid }}" class="list-group-item list-group-item-action col-md-4 offset-md-4 bg-dark text-secondary" >{{ post.title }}  Posted - {{ post.date }}</a>
	{% endfor %}

    {% else %}
	<p>No posts returned from database.</p>
    {% endif %}

     </div>
    </div>
  </div>
{% endblock %}
