{% extends "base.html" %}

{% block content %}
  <div class="container align-center">
    <article>
    <h1>{{ title }}</h1>
    <h6>By {{ user }} {{ date }}</h6>
    {% if image %}
    	<img class="img-fluid d-block" src="{{ image.url }}">
        <br>
    {% endif %} 
    {{ text|safe }}
    </article>
    <div>
      {% if comments %}
        {% for comment_dict in comments %}
          <a href="{{ comment_dict.link }}"><strong>{{ comment_dict.user }}</strong></a> on {{ comment_dict.date }} commented:<br>
          {{ comment_dict.comment_text }}<br><br>
        {% endfor %}

      {% else %}
        <strong> There are no comments yet. </strong>
      {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div>
      <form id="comment_form" method="post" action="{{ request.path }}">
        {% csrf_token %}
        {% for field in commentform.visible_fields %}
          {{ field.errors }}
          {{ field.help_text }}
          {{ field }} <br>
        {% endfor %}
        <input type="submit" name="submit" value="Post Comment" />
      </form>
    </div>
    {% endif %}
  </div>
{% endblock %}
