{% extends "base.html" %}

{% block content %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form id ="create_account" method="post" style="opacity: 1;">
            <h1 class="" >Sign Up</h1>
            {% csrf_token %}

            {{ user_form.username }} <br>
            {{ user_form.first_name }} <br>
            {{ user_form.last_name }} <br>
            {{ user_form.email }} <br>
            {{ user_form.password }} <br>

            {{ profile_form.usercity }} <br>
            <p class="" >Upload Profile Pic:</p>
            {{ profile_form.profpic }} <br> <br>

            <button type="submit" class="btn btn-secondary">Create Account
              <br> </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}