{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Search {% endblock %}

{% block content %}
<div class="container-fluid col-md-5 offset-md-4 bg-dark text-secondary">
    <br>


 <div>
	<h1 align="center">Results</h1>
     {% if result_listUser %}

     <!-- Display search results in an ordered list -->
         <div class="list-group">
		 <h3>Users:</h3>
         {% for result in result_listUser %}
             <div class="list-group-item bg-dark">
                  <h5 class="list-group-item-heading">
                     <a href = "/user/{{ result.username }}" class="list-group-item list-group-item-action bg-primary">{{ result.username}}</a>
                     </h4>
                     <!-- <p class="list-group-item-text">{{ result.comicid}}</p> -->
             </div>
        {% endfor %}
        </div>
        {% endif %}

     {% if result_listComicTitle %}
     <!-- Display search results in an ordered list -->
         <div class="list-group">
		 <h3>Comics:</h3>
         {% for result in result_listComicTitle %}
             <div class="list-group-item bg-dark">
                  <h4 class="list-group-item-heading">
                     <a href = "/comic/{{ result.comicid }}" class="list-group-item list-group-item-action bg-primary">{{ result.comictitle}}</a>
                     </h4>
             </div>
        {% endfor %}
        </div>
        {% endif %}
		{% if result_listAuthor %}

     <!-- Display search results in an ordered list -->
         <div class="list-group">
		 <h3>Author:</h3>
         {% for result in result_listAuthor %}
             <div class="list-group-item bg-dark">
                  <h5 class="list-group-item-heading">
                     <a href = "/comic/{{ result.comicid }}" class="list-group-item list-group-item-action bg-primary">{{ result.comictitle}}</a>
                     </h5>
                     </h4>
             </div>
        {% endfor %}
        </div>
        {% endif %}

     </div>
    <br>
 </div>
{% endblock %}
