{% extends "base.html" %}

{% block content %}
<div class="p-1 m-0">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <img class="card-img-top" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg" alt="Card image cap"> </div>
        </div>
        <div class="col-md-6">
          <li class="list-group-item">Username: {{ username }}
            <br> </li>
          <li class="list-group-item">First Name: {{ firstname }}</li>
          <li class="list-group-item">Last Name: {{ lastname }}</li>
          <li class="list-group-item">Email: {{ email }}</li>
          <div class="row">
            <div class="col-md-12"></div>
          </div>
          <a class="btn btn-primary" href="#">Follow</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}